#container {
    display: grid;
    border: 1px solid plum;
    border-radius: 10px;
}

.header {
    background-color: hsl(318, 63%, 87%);
    border-top: 1px solid pink;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.headercell {
    text-align: center;
}

.bookrow {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.bookcell {
    border-top: 1px solid rgb(238, 152, 224);
    text-align: center;
    box-align: center;
    position: relative;
    top:
}

.addButton {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 30px;
    background-color: white;
    color: hsl(318, 76%, 64%);
    border: 1px solid hsl(303, 89%, 83%);
    height: 45px;
    width: 45px;
    border-radius: 50%;
}

.deletionButton {
    background-color: rgb(255, 116, 116);
    border: 1px solid rgb(236, 125, 125);
    color: hsl(255, 26%, 32%);
    border-radius: 50%;
    font-size: 10px;
    position: relative;
    top: 25%;
}

.readbox {
    position: relative;
    top: 28%;
}

h1, h2 {
    text-align: center;
}
