#container {
    display: grid;
    border: 1px solid plum;
    border-radius: 10px;
}

.header {
    background-color: hsl(318, 63%, 87%);
    border-top: 1px solid pink;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.headercell {
    text-align: center;
}

.bookrow {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.bookcell {
    border-top: 1px solid rgb(238, 152, 224);
    text-align: center;
    box-align: center;
    position: relative;
}



.deletionButton {
    background-color: rgb(255, 116, 116);
    border: 1px solid rgb(236, 125, 125);
    color: hsl(255, 26%, 32%);
    border-radius: 50%;
    font-size: 15px;
    position: relative;
    top: 25%;
}

.readbox {
    position: relative;
    top: 30%;
}

h1, h2 {
    text-align: center;
}

form {
    border-top: 1px solid palevioletred;
    padding-top: 10px;
    margin-bottom: 10px;
}

input {
    border-radius: 15px;
    border: 1px solid palevioletred;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

#formsubmit {
    background-color: palevioletred;
    border: 1px solid palevioletred;
    border-radius: 15px;
    width: 70%;
    margin-left: 15%;
}